# ==============================
# Python
# ==============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# ==============================
# Virtual environment
# ==============================

venv/
.env
.env.*

# ==============================
# Streamlit
# ==============================

.streamlit/secrets.toml

# ==============================
# Database
# ==============================

*.db
*.sqlite
*.sqlite3
*.psycopg2

# ==============================
# OS files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Temporary files
# ==============================

# ==============================
# PDFs e tabelas
# ==============================

*.pdf
*.docx
*.csv
*.xlsx

tmp/
temp/

*.bat

.streamlit/secrets.toml